:root {
  --transparent: #101010;
  --background-color: #0A0A0A ;
  --white-color: #ffffff ;
  --bg-white-color: #000;
  --bg-white-color-2: #68DEA44D;
  --purple-color: #843D95;
  --purple-light-color: #843D95B3;
  --purple-lighter-color: #E4D5E8;
  --black-bg-color: #000000;
  --black-color: #ffffff;
  --black-color-persists: #191D1D;
  --gray-color: #C3C3C3;
  --gray-light-color: #C3C3C3;
  --yellow-color: #FFD54A;
  --green-color: #68DEA44D;
  --green-bg-color: #101010;
  --green-dark-color: #68DEA4;
}
