:root {
  --background-color: #fff ;
  --white-color: #fff ;
  --purple-color: #843D95;
  --purple-light-color: #843D95B3;
  --black-color: #191D1D;
  --gray-color: #707070;
  --gray-light-color: #C3C3C3;
  --yellow-color: #FFD54A;
  --green-color: #68DEA44D;
  --green-dark-color: #68DEA4;
}
