:root {
  --font-family: 'Roboto';
  --font-slab: "Roboto Slab"
}
.active {
  color: var(--purple-color);
}
.purple {
  color: var(--purple-color);
}
.black {
  color: var(--black-color);
}
.yellow {
  color: var(--yellow-color);
}

.green {
  color: var(--green-color);
}
.green-dark {
  color: var(--green-dark-color);
}
.gray-light {
  color: var(--gray-light-color);
}

.bg-purple-c {
  background-color: var(--purple-color);
}
.bg-black-c {
  background-color: var(--black-color);
}
.bg-yellow-c {
  background-color: var(--yellow-color);
}

.bg-green-c {
  background-color: var(--green-dark-color);
}
.nav-bg {
  /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
  opacity: 1;
  -webkit-backdrop-filter: blur(42px);
  backdrop-filter: blur(42px);
}
.title-large {
  background: var(--purple-color) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.title-px-52 {
  text-align: left;
  font-size: 52px;
  line-height: 68px;
  font-family: var(--font-slab);
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}
.title-px-47 {
  text-align: left;
  font-size: 47px;
  line-height: 62px;
  font-family: var(--font-slab);
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}
.title-purple-px-39{
  text-align: left;
  font-size: 39px;
  line-height: 52px;
  font-family: var(--font-slab);
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}

.description-px-36 {
  text-align: left;
  font-size: 36px;
  line-height: 43px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}

.text-px-23 {
  text-align: left;
  font-size: 23px;
  line-height: 28px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 0px;
  opacity: 1;
}
.text-px-21 {
  text-align: left;
  font-size: 21px;
  line-height: 28px;
  font-family: var(--font-slab);
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}
.text-px-16-b {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  font-family: var(--font-slab);
  font-weight: bold;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}
.text-px-16 {
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 0px;
  opacity: 1;
}
.text-px-14 {
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 0px;
  color: var(--gray-color);
  opacity: 1;
}
.p {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--font-family);
  font-weight: lighter;
  letter-spacing: 0px;
  color: var(--gray-color);
  opacity: 1;
}

